--extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
fastapi==0.110.1
uvicorn==0.25.0
motor
pymongo
pydantic
python-dotenv
python-multipart
python-jose[cryptography]
PyJWT
bcrypt
passlib
pillow
websockets
email-validator
emergentintegrations
paypal-server-sdk
starlette
